header {
    padding: 20px 0 27px;
    @media screen and (min-width: 768px){
        padding: 45px 0 50px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        display: flex;
    }
    li {
        font-family: $font-001;
        font-size: $font-xxs;
        color: $color-001;
        margin-left: 26px;
        cursor: pointer;
        text-transform: uppercase;

        @media screen and (min-width: 576px) {
            text-transform: none;
            font-size: $font-xs;
        }
        @media screen and (min-width: 768px) {
            font-size: $font-lg;
            margin-left: 57px;
        }

        a {
            color: $color-004;
        }
        .active {
            text-decoration: underline;
        }
    }
    svg {
        width: 105px;
        @media screen and (min-width: 576px) {
            width: 210px;
        }
    }
}