// COLORS
$color-001: #FF6060;
$color-002: #FFFFFF;
$color-003: #F6F6F6;
$color-004: #000000;

// FONTS
$font-001: 'Montserrat-Medium';
$font-002: 'Montserrat-Regular';
$font-003: 'Montserrat-Bold';

// FONT-SIZES
$font-xxs: 10px;
$font-xs: 12px;
$font-xsm: 13px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 48px;
$font-xxxl: 96px;
$font-xxxxl: 288px;